.logo{
        display: flex;
        justify-content: center;
        background-color: rgb(211, 209, 229);   
        border: 10px solid;
        border-radius: 10px;
        align-content: flex-start;
        margin: 0;
        padding: 0%;
}
.container{
        display: flex;
        justify-content: space-evenly;

}
h1{
        text-align: center;
}
